<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website UMKM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/kkn.png') }}" alt="">
                <img src="{{ url_for('static', filename='images/pbg.png') }}" alt="">
                <h1>UMKM</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('products') }}">Produk</a></li>
                    <li><a href="{{ url_for('add_product') }}">Tambah Produk</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 UMKM. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>