{% extends 'base.html' %}

{% block content %}
<div class="intro">
<h1>SELAMAT DATANG</h1>
<h1>DI</h1>
<h2>Usaha Mikro Kecil Menengah (UMKM) Desa Pagerandong</h2>
<h3>MEMBANGUNG DESA, MENGANGKAT USAHA, MEMAJUKAN BANGSA</h3>
<p>Menggambarkan pentingnya pembangunan desa dalam meningkatkan kesejahteraan lokal dan mengembangkan UMKM. Dengan
    memperbaiki infrastruktur dan memberikan dukungan kepada pengusaha lokal, desa-desa dapat menjadi pusat pertumbuhan
    ekonomi. Ini tidak hanya meningkatkan kualitas hidup masyarakat setempat, tetapi juga berkontribusi pada kemajuan
    ekonomi nasional. Pemberdayaan desa dan usaha lokal menciptakan dampak positif yang luas, mendorong stabilitas
    sosial
    dan kesejahteraan yang merata di seluruh negeri. Tujuan utama dari website ini adalah untuk memberikan kemudahan
    bagi pelaku UMKM dalam menjangkau pasar yang lebih luas, baik lokal maupun global, melalui internet. Dengan adanya
    website ini, diharapkan UMKM dapat meningkatkan visibilitas, memperluas jaringan pelanggan, dan pada akhirnya
    mendukung pertumbuhan bisnis mereka di era digital.</p>
</div>
{% endblock %}